<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Posts List</title>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="mt-4">
    <section class="hero is-info is-halfheight">
        <div class="hero-body">
            <div class="">
                <p class="title">
                    Welcome to Pines High School Website
                </p>
                <p class="subtitle">
                    This is prototype for school website created by
                    <a href="https://github.com/OleksandrParkhomenko/">Oleksandr Parkhomenko</a>
                </p>
            </div>
        </div>
    </section>
</div>
</body>
</html>